<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/StyleInfoJuego.css">
</head>

<body class="bg-custom">
    <div>
        <div class="flex-1 bg-dark"></div>
        <div class="card info-juego position-absolute top-50 start-50 translate-middle bg-dark">
            <div class="carousel-custom">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div th:each="a: ${images}">
                            <div class="carousel-item active align-content-center">
                                <img th:src="${a.image}" class="d-block w-100">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div>
                <div th:each="v: ${infojuego}" class="mt-5 bg-dark">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="p2 m-2">
                                <h3 class="card-title text-light" th:text="${v.title}"></h3>
                            </div>
                            <div class="p2">
                                <a href="#" class="btn btn-danger">Añadir a Favoritos</a>
                            </div>
                        </div>
                        <h5 class="card-title text-light">Descripción</h5>
                        <p class="card-text text-light" th:text="${v.description}"></p>
                        <h5 class="card-title text-light">Genero</h5>
                        <p class="card-text text-light" th:text="${v.genre}"></p>
                        <h5 class="card-title text-light">Plataformas</h5>
                        <p class="card-text text-light" th:text="${v.platform}"></p>
                        <h5 class="card-title text-light">Desarrollador</h5>
                        <p class="card-text text-light" th:text="${v.developer}"></p>
                        <h5 class="card-title text-light">publicado por</h5>
                        <p class="card-text text-light" th:text="${v.publisher}"></p>
                        <h5 class="card-title text-light">Requisitos minimos del sistema</h5>
                        <p class="card-text text-light" th:text="${v.minimum_system_requirements.os}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 bg-dark"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>